{% extends 'base.html' %}
{% load static %}

{% block title %}Post Edit{% endblock title %}
{% block content %}
    <h1>Edit your photo</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{edit_form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <br>
    {% if edit_form.album %}
        <button class="btn btn-outline danger" type="submit"></button>
    {% endif %}
{% endblock content %}

{% comment %} <a href="{% url 'photo:photo_delete' photo.id %}"><button class="btn btn-danger" type="submit">Delete</button></a>
<a href="{% url 'photo:photo_list' %}"><button class="btn btn-success" type="submit">Cancel</button></a> {% endcomment %}