{% extends 'base.html' %}
{% load static %}

{% block title %}Post Edit{% endblock title %}
{% block content %}
    <h1>Edit your photo</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{edit_form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="{% url 'photo:delete' photo.id %}"><button class="btn btn-danger" type="submit">Delete</button></a>
    <a href="{% url 'photo:photo_list' %}"><button class="btn btn-success" type="submit">Cancel</button></a>
{% endblock content %}

