{% extends 'base.html' %}
{% load static %}

{% block title %}Photo Album{% endblock title %}

{% block content %} 
    <!--
        - first I show all the photos in the database by calling the photo_list url.
        - next I call a for loop to display each user specific album by calling the absoulte url of the album
    --> 
<div class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <div class='card' style ="margin-top: 3rem;">
                <div class='card-header'>
                    <h3>Albums</h3>
                    <a href="{% url 'photo:album_create' %}"><button class="btn btn-outline-success" style="float: right;">Create Album</button></a>
                </div>
                <ul class='list-group list-group-flush'>
                        <li class=list-group-item>
                            <a href="{% url 'photo:photo_list' %}">All Photos</a>
                        </li>
                    {% for album in user_albums %}
                        <li class=list-group-item>
                            <a href="{{album.get_absolute_url}}">{{album.name}}</a>
                            <a href="{% url 'photo:album_delete' album.id %}"><button class="btn btn-outline-danger" style='margin-left:40%;'>Delete</button></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class='col-md-5'>
            <div>
                <div class='row'>
                    {% for photo in photos %}
                        <div class="card" style ="margin-top: 2rem;">
                            <a href="{{photo.get_absolute_url}}">
                                <img margin-right: 8px; src="{{photo.image.url}}" class="img-fluid img-thumbnail" alt="..." >
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{photo.title}}</h5>
                                <p class="card-text">{{photo.description|truncatewords:10}}</p>
                            </div>
                            <div class="card-footer">
                                <small style = "text-align: center; margin-right: 8px;">Photo by: {{user.first_name}} {{user.last_name}}</small>
                                <small>Added: {{photo.created}}</small>
                                <div>
                                    <small class="text-muted" style = "text-align: center; margin-left: 15px;"><a href="{% url 'photo:edit' photo.id photo.slug %}">Edit Post</a></small>
                                    <small class="text-muted" style = "text-align: center; margin-left: 15px;"><a href="{% url 'photo:photo_delete' photo.id %}">Delete Post</a></small>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div> 
        </div>
{% endblock content %}


